name: Build branch
on:
  workflow_dispatch:

jobs:
  publish-wails:
    env:
      GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
    permissions:
      contents: write
    strategy:
      fail-fast: false
      matrix:
        platform: [windows-latest]

    runs-on: ${{ matrix.platform }}
    steps:
      - uses: actions/checkout@v3
      - name: setup bun
        uses: oven-sh/setup-bun@v2
        with:
          bun-version: latest
      - name: Build wails
        uses: dAppServer/wails-build-action@v2.2
        id: build
        with:
          package: false
          go-version: '1.23.1'
          build-name: spt-give-ui.exe
          build-platform: windows/amd64
      - name: Package zip
        run: |
          mkdir "dist/user/mods/give-ui-${{ github.sha }}"
          xcopy .\server-mod .\dist\user\mods\give-ui-${{ github.sha }} /e
          Remove-Item -Path .\dist\user\mods\give-ui-${{ github.sha }}\types -Force -Recurse
          mv ./build/bin/spt-give-ui.exe ./dist/user/mods/give-ui-${{ github.sha }}/give-ui-${{ github.sha }}_x64-portable.exe
          Compress-Archive -Path ./dist/* -Destination ./give-ui-${{ github.sha }}.zip
      - uses: actions/upload-artifact@v4
        with:
          name: give-ui
          path: ./give-ui-${{ github.sha }}.zip
