@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    h1 {
        @apply text-2xl;
    }

    h2 {
        @apply text-xl;
    }
}

body {
    font-family: "Bender", -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
    "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
}

@font-face {
    font-family: "Bender";
    font-style: normal;
    font-weight: 400;
    src: local(""),
    url("../fonts/Bender.woff") format("woff");
}

#app {
    height: 100vh;
    text-align: center;
}

/* <div id="loader" class="button-loader">
           <span class="loading loading-spinner"></span>
           <span class="button-hide">Give</span>
 </div> */
.button-loader .loading {
    display: none;
}

.button-loader .button-hide {
    display: block;
}

.htmx-request.button-loader .loading {
    display: block;
}

.htmx-request.button-loader .button-hide {
    display: none;
}

/* override tabs from daisy as per https://github.com/saadeghi/daisyui/issues/2988 */
.tabs {
    display: flex;
    flex-wrap: wrap;
}

.tab {
    order: 0;
}

.tab-content {
    order: 1;
    width: 100%;
    /* this takes into the tab header! */
    height: calc(100% - 48px);
}

/*fix for summary arrow on Windows webview*/
summary {
    display: flex;
    align-items: center;
    cursor: pointer;
}

details > summary {
    list-style: none;
}

details > summary::-webkit-details-marker {
    display: none;
}

summary::before {
    content: "\25B2";
    display: inline-block;
    margin-right: 0.5em;
    transform: rotate(90deg); /* Rotate based on open/closed state */
    transition: transform 0.1s ease-in-out;
}

details[open] summary::before {
    transform: rotate(180deg); /* Rotate to a downward arrow when open */
}
